[Desktop Entry]
Version=1.0
Name=Catering
Comment=Point of Sales for catering purposes
Path=./Catering
Exec=/bin/bash catering.sh
Icon=register.png
Terminal=false
Type=Application
Categories=Application;
